h2{color:rgb(226, 62, 13);


} 
html {
font-size: 20px;
font-family: sans-serif;
}

h1 { 
font-size: 60px;
text-align: center;

}
p,
li { 
font-size: 16px;
line-height: 2;
letter-spacing: 1px;
}
html {
  background-color: rgb(36, 15, 224);
}
body {
 width: 600px;
  margin: 10 auto;
  background-color: #eb8a04;
  padding: 0 180px 180px 180px;
  border: 5px solid black;

}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px rgb(129, 20, 20);
}
img {
  display: block;
  margin: 0 auto;
}
h2 {
    margin: 5;
    padding: 20px 0;
    color: #00539f;
    text-shadow: #eb8a04;
}
img {
  width: 190px;       
  height: 190px;     
  border-radius: 50%; 
  object-fit: cover;
margin: 4; }